CAMERAS_URL=your_camera_url
WORKERS_AMOUNT=your_amount_of_workers
ONNXRUNTIME_LIB_PATH=your_oonx_lib_path
MODEL_PATH=your_model_path
IMAGE_PATH=your_image_storage_path
JOBS_QUEUE_SIZE=your_jobs_queue_size